.mini-card {
  height: 9.5em;
  width: 9em;
}

.card-image {
  height: 5.9rem;
}

.card-image img {
  height: 6em;
}

@media (max-width: 765px) {
  .potter-card {
  }
  .gardener-card {
  }
  .cafe-card {
  }
}

@media (min-width: 768px) {
  .mini-card {
    height: 7em;
    width: 7em;
  }

  .sub-text {
    font-size: 0.62em;
  }

  .card-image {
    height: 4.2rem;
  }

  .card-image img {
    height: 4.2em;
  }

  .main-card-img {
    /* height: 36em; */
  }
}
