@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Faible";
  src: local("Faible"),
    url(./assets/fonts/Faible/Faible-Regular.woff) format("woff");
}

@font-face {
  font-family: "Faible";
  font-weight: 900;
  src: local("Faible"),
    url(./assets/fonts/Faible/Faible-Bold.woff) format("woff");
}

@font-face {
  font-family: "Faible";
  font-weight: 900;
  src: local("Faible"),
    url(./assets/fonts/Faible/Faible-Black.woff) format("woff");
}

@font-face {
  font-family: "SpoofTrial";
  src: local("SpoofTrial"),
    url(./assets/fonts/SpoofTrial/SpoofTrial-Regular.otf) format("opentype");
}

@font-face {
  font-family: "SpoofTrial";
  font-weight: 900;
  src: local("SpoofTrial"),
    url(./assets/fonts/SpoofTrial/SpoofTrial-Bold.otf) format("opentype");
}

@font-face {
  font-family: "SpoofTrial";
  font-weight: 900;
  src: local("SpoofTrial"),
    url(./assets/fonts/SpoofTrial/SpoofTrial-Black.otf) format("opentype");
}
html,
body {
  width: 100%;
  height: 145%;
  font-family: SpoofTrial;
  background-color: rgba(250, 168, 52, 0.1);
}

@media (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
}
